.width {
    width: 700px;
    margin: 0 auto;
  }
  nav {
      margin-top:20px;
      font-size: 110%;
      display: table;
      overflow: hidden;
      position: relative;
      width: 100%;
  }
  nav a.main-nav {
      font-family: lato, sans-serif;
      font-size: 14px;
      letter-spacing: .1rem;
      text-transform: uppercase;
      text-align:center;
      display: block;
      float: left;
      padding: 2% 0;
      width: 33.33%;
      text-decoration: none;
      color: /*#555*/black;
      transition: .4s;
    /*border-right: 1px solid red;
    border-left: 1px solid red;*/
  }
  /* ========================
      Lava-lamp-line:
     ======================== */
  
   .effect {
      position: absolute;
      left: 0;
      transition: 0.4s ease-in-out;
  }
  .ph-line-nav .effect {
      width: /*55px*/ 33%;
      height: 2px;
      bottom: 5px;
      background: rgb(179, 228, 228);
      margin-left:/*-45px*/auto;
      margin-right:/*-45px*/auto;
  }

  nav a:nth-child(1).active ~ .effect {
      left: 0%;
      /* the middle of the first <a> */
  }
  nav a:nth-child(2).active ~ .effect {
      left: 33.33%;
      /* the middle of the second <a> */
  }
  nav a:nth-child(3).active ~ .effect {
      left: 66.66%;
      /* the middle of the third <a> */
  }

/* hover */
nav a:nth-child(1):hover ~ .effect {
    left: 0%;
    /* the middle of the first <a> */
}
nav a:nth-child(2):hover ~ .effect {
    left: 33.33%;
    /* the middle of the second <a> */
}
nav a:nth-child(3):hover ~ .effect {
    left: 66.66%;
    /* the middle of the third <a> */
}