* {
    margin: 0;
    padding: 0;
}

/* html {
    min-height: 100%;
    max-height: 100%;
    max-width: 100%;
}

body {
    background-image: linear-gradient(to top,rgb(179, 228, 228, .8), white);
    max-height: 100%; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
} */

    
header {
    padding: 40px 0; 
    margin: 0; 
}

nav {
    margin: 0 auto;
    text-align: center;
}

.menu-item {
    padding: 0 20px;
}

.modal {
    background-color: rgb(179, 228, 228, .5);
}

.modal-content {
    border-radius: 0;
    padding: 50px;
}

.label {
    float: left;
}

.standard_input, #message {
    font-family: "Cormorant Garamond", serif;
    font-weight: lighter;
    background-color: rgb(179, 228, 228, .5);
    font-size: 14pt;
}

.label {
    float: left;
    width: 25%;
    font-family: "Cormorant Garamond", serif;
    font-weight: lighter;
    text-transform: lowercase;
    font-size: 14pt;
}

.standard_input {
    margin-top: -25px;
    float: right;
    width: 75%;
    border: rgb(179, 228, 228, .8) solid 1pt;
    /* border: lightgrey solid 1pt; */
    padding: 5px;
    height: 30px;
}

#message {
    height: 150px;
    overflow: scroll;
    border: rgb(179, 228, 228, .8) solid 1pt;
    /* border: lightgrey solid 1pt; */
    padding: 5px;
}

.standard_input:focus,
#message:focus {
    outline: none;
    box-shadow: none;
}

button {
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
    text-transform: lowercase;
    font-size: 14pt;
}

#submit {
    margin-top: 50px;
    width: 100%;
    background-color: rgb(179, 228, 228, 0);
    border: black solid 1pt;
    padding-bottom: 2.5px;
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
    text-transform: lowercase;
    font-size: 14pt;
}

#submit:hover {
    background-color: rgb(179, 228, 228, .5);
}

#submit:focus, button:focus {
    outline: none;
    box-shadow: none;
}

.container-fluid {
    max-width: 100%;
}


h1 {
    font-family: "Cormorant Garamond", serif;
    font-weight: lighter;
    text-transform: lowercase;
    color: black;
    font-size: 36pt;
    text-align: center;
}

h2 {
    font-family: "Lato", sans-serif;
    font-size: 20pt;
}

h3 {
    font-family: "Lato", sans-serif;
    font-weight: lighter;
    color: white;
    size: 12pt;
}

hr {
    border-top: solid 1pt black;
    margin-top: 0;
}

ul {
    list-style: none;
    position: relative;
    clear: float;
    margin: 0 auto;
}

li {
    margin: 0 15px;
    text-align: center;
}

a {
    color: grey;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-size: 10pt;
    letter-spacing: 1px;
}

a:hover {
    text-decoration: none;
    color: black;
} 

p {
    font-size: 14pt;
    line-height: 1.5;
    font-family: "Cormorant Garamond", serif;
}

.row {
    height: auto;
    margin: 0 auto;
}

#clearfix {
    content: "";
    clear: both;
    display: table;
}

figure {
    background-color: black;
    margin-bottom: 35px;
}

.effect6
{
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.effect6:before, .effect6:after
{
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:50%;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.effect6:after
{
    right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}

.footer {
    position: relative;
    height: auto;
    margin: 0 auto;
}


#copyright {
    position: relative;
    left: 20px;
    padding: 20px 0 10px 0;
    text-align: center;
}

#social {
    position: fixed;
    padding: 20px 0 10px 0;
}

i {
    color: black;
    font-size: 20px;
    padding: 10px;
}

i:hover {
    color: rgba(0,0,0,.5);
}

figure.effect-lily img {
    max-width: 100%;
    width: -webkit-calc(100% + 50px);
    width: calc(100% + 50px);
    opacity: 1;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    /* -webkit-transform: translate3d(-40px,0, 0);
    transform: translate3d(-40px,0,0); */
}

figure.effect-lily figcaption {
    color: white;
    font-size: 10pt;
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    text-align: left;
}

.fig {
    color:white;
    font-weight: normal;
}

figure.effect-lily figcaption > div {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 2em;
    width: 100%;
    height: 90%;
}

figure.effect-lily h2,
figure.effect-lily p,
figure.effect-lily a {
    -webkit-transform: translate3d(0,40px,0);
    transform: translate3d(0,40px,0);
}

figure.effect-lily h2 {
    opacity: 0;
    font-weight: lighter;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
}


figure.effect-lily p {
    font-size: 14pt;
    line-height: 1;
    opacity: 0;
    -webkit-transition: opacity 0.2s, -webkit-transform 0.35s;
    transition: opacity 0.2s, transform 0.35s;
}

figure.effect-lily a {
    font-size: 10pt;
    line-height: 14pt;
    opacity: 0;
    -webkit-transition: opacity 0.2s, -webkit-transform 0.35s;
    transition: opacity 0.2s, transform 0.35s;
}



figure.effect-lily:hover img { 
    opacity: .2;
    -webkit-transition: opacity 0.2s, -webkit-transform 0.35s;
    transition: opacity 0.2s, transform 0.35s;
}

figure.effect-lily:hover p,
figure.effect-lily:hover h2 {
    color: white;
    opacity: 1;
    -webkit-transition: opacity 0.2s, -webkit-transform 0.35s;
    transition: opacity 0.2s, transform 0.35s;
}

figure.effect-lily:hover a {
    opacity: 1;
    -webkit-transition: opacity 0.2s, -webkit-transform 0.35s;
    transition: opacity 0.2s, transform 0.35s;
}

.grey {
    color: lightgrey;
}

.grey:hover {
    color: white;
}

figure.effect-lily:hover img,
figure.effect-lily:hover h2,
figure.effect-lily:hover p {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

figure.effect-lily:hover p {
    -webkit-transition-delay: 0.05s;
    transition-delay: 0.05s;
    -webkit-transition-duration: 0.35s;
    transition-duration: 0.35s;
}

@media only screen and (max-width: 576px) {
    figure.effect-lily figcaption > div {
        padding: 15px;
    }

    .container-fluid {
        width: 100%;
    }
  }

  #left {
      float: left;
  }

  img {
      max-width: 100%;
      padding: 0;
  }

  #right {
      float: right;
  }

.center {
    margin: 0 auto;
}

.padding {
    padding: 25px;
}

.space {
    margin-bottom: 25px;
}

.shadow {
    max-width: 100%;
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
