* {
    margin: 0;
    padding: 0;
}

html {
    min-height: 100%;
    max-height: 100%;
    max-width: 100%;
}

header {
    padding: 40px 0; 
    margin: 0; 
}

.modal {
    background-color: rgb(179, 228, 228, .5);
}

.modal-content {
    border-radius: 0;
    padding: 50px;
}

.label {
    float: left;
}

.standard_input, #message {
    font-family: "Cormorant Garamond", serif;
    font-weight: lighter;
    background-color: rgb(179, 228, 228, .5);
    font-size: 14pt;
}

.label {
    float: left;
    width: 25%;
    font-family: "Cormorant Garamond", serif;
    font-weight: lighter;
    text-transform: lowercase;
    font-size: 14pt;
}

.standard_input {
    margin-top: -25px;
    float: right;
    width: 75%;
    border: rgb(179, 228, 228, .8) solid 1pt;
    /* border: lightgrey solid 1pt; */
    padding: 5px;
    height: 30px;
}

#message {
    height: 150px;
    overflow: scroll;
    border: rgb(179, 228, 228, .8) solid 1pt;
    /* border: lightgrey solid 1pt; */
    padding: 5px;
}

.standard_input:focus,
#message:focus {
    outline: none;
    box-shadow: none;
}


#submit {
    margin-top: 50px;
    width: 100%;
    background-color: rgb(179, 228, 228, 0);
    border: black solid 1pt;
    padding-bottom: 2.5px;
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
    text-transform: lowercase;
    font-size: 14pt;
}

#submit:hover {
    background-color: rgb(179, 228, 228, .5);
}

#submit:focus, button:focus {
    outline: none;
    box-shadow: none;
}

.container-fluid {
    max-width: 90%;
    margin: 0 auto;
}

img {
    max-width: 100%;
}


h1 {
    font-family: "Cormorant Garamond", serif;
    font-weight: lighter;
    text-transform: lowercase;
    color: black;
    font-size: 36pt;
    text-align: center;
}

h2 {
    font-family: "Cormorant Garamond", serif;
    font-size: 30px;
    text-transform: lowercase;
}

h3 {
    font-family: "Lato", sans-serif;
    font-weight: lighter;
    color: white;
    size: 12px;
}

hr {
    border-top: solid 1px;
    margin-top: 0;
}

p {
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-weight: lighter;
    line-height: 150%;
}

a {
    font-family: "Lato", sans-serif;
    font-size: 16px;
    color: black;
    text-decoration: underline;
}

a:hover {
    color: grey;
    text-decoration: none;
}

figure.effect6 figcaption div > a {
    font-family: "Lato", sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: white;
    text-decoration: none;
}

figure.effect6 figcaption div > a:hover {
    color: rgb(179, 228, 228);
    text-decoration: none;
}

header > a {
    text-decoration: none;
}

hr > .effect6 {
    border: 1px, solid, white;
}

ul {
    list-style: none;
    position: relative;
    clear: float;
    margin: 0 auto;
}

li {
    margin: 0 15px;
    text-align: center;
}

.row {
    height: auto;
    margin: 30px auto;
}

#clearfix {
    content: "";
    clear: both;
    display: table;
}

figure {
    background-color: black;
    margin-bottom: 35px;
}

.effect6
{
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.effect6:before, .effect6:after
{
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:50%;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.effect6:after
{
    right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}

.footer {
    position: relative;
    height: auto;
    margin: 0 auto;
}


#copyright {
    position: relative;
    left: 20px;
    padding: 20px 0 10px 0;
    text-align: center;
}

#social {
    position: fixed;
    padding: 20px 0 10px 0;
}

i {
    color: black;
    font-size: 20px;
    padding: 10px;
}

i:hover {
    color: rgb(179, 228, 228);
}

figure.effect-lily img {
    max-width: 100%;
    width: -webkit-calc(100% + 50px);
    width: calc(100% + 50px);
    opacity: 1;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    /* -webkit-transform: translate3d(-40px,0, 0);
    transform: translate3d(-40px,0,0); */
}

figure.effect-lily figcaption {
    color: white;
    font-size: 10pt;
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
    text-align: center;
    margin: 2rem;
}

.fig {
    color:white;
    font-weight: normal;
}

figure.effect-lily figcaption > div {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 2em;
    width: 100%;
    height: 90%;
}

figure.effect-lily h2,
figure.effect-lily p,
figure.effect-lily a,
figure.effect-lily hr {
    -webkit-transform: translate3d(0,40px,0);
    transform: translate3d(0,40px,0);
}

figure.effect-lily h2 {
    font-family: 'cormorant-garamond', serif;
    font-size: 30px;
    opacity: 0;
    font-weight: lighter;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
}


figure.effect-lily p {
    font-size: 12pt;
    line-height: 24px;
    margin-bottom: 1rem;
    opacity: 0;
    -webkit-transition: opacity 0.2s, -webkit-transform 0.35s;
    transition: opacity 0.2s, transform 0.35s;
}

figure.effect-lily hr {
    opacity: 0;
    width: 50%;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    -webkit-transition: opacity 0.2s, -webkit-transform 0.35s;
    transition: opacity 0.2s, transform 0.35s;
}

figure.effect-lily a {
    font-size: 14px;
    line-height: 24pt;
    font-weight:bold;
    opacity: 0;
    -webkit-transition: opacity 0.2s, -webkit-transform 0.35s;
    transition: opacity 0.2s, transform 0.35s;
}



figure.effect-lily:hover img { 
    opacity: .2;
    -webkit-transition: opacity 0.2s, -webkit-transform 0.35s;
    transition: opacity 0.2s, transform 0.35s;
}

figure.effect-lily:hover p,
figure.effect-lily:hover h2 {
    color: white;
    opacity: 1;
    -webkit-transition: opacity 0.2s, -webkit-transform 0.35s;
    transition: opacity 0.2s, transform 0.35s;
}

figure.effect-lily:hover a,
figure.effect-lily:hover hr {
    opacity: 1;
    -webkit-transition: opacity 0.2s, -webkit-transform 0.35s;
    transition: opacity 0.2s, transform 0.35s;
}

figure.effect-lily:hover img,
figure.effect-lily:hover h2,
figure.effect-lily:hover p,
figure.effect-lily:hover hr {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

figure.effect-lily:hover p {
    -webkit-transition-delay: 0.05s;
    transition-delay: 0.05s;
    -webkit-transition-duration: 0.35s;
    transition-duration: 0.35s;
}

@media only screen and (max-width: 768px) {

figure.effect-lily figcaption > div {
    padding: 15px;
}

#social { 
    position: relative;
    width: 60%;
    margin: 0 auto;
} 

ul {
    width: 100%;
}

li {
    width: 25%;
    margin: 0 auto;
    float: left;
}

.container-fluid {
    display: inline-block;
    min-width: 100%;
    float: none;
    margin: 0 auto;
}
    
.left {
    float: left;
}

.right {
    float: right;
}

.center {
    margin: 0 auto;
}

img {
    max-width: 100%;
}

.padding {
    padding: 25px;
    max-width: 100%;
}

.space {
    margin-bottom: 25px;
}

.shadow {
    max-width: 100%;
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}



}